<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/pagina.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="menu-stiqui-top">
        <div class="logo">
            <img src="img/logooo.png" id="imgLogo" />
        </div>
        <nav class="menu">
            <a href="https://webcity.es/" target="_blank" style="color: transparent">
                <div class="apartados">CITIES</div>
            </a>
            <a href="https://finder.porsche.com/es/es-ES" target="_blank" style="color: transparent">
                <div class="apartados">DRIVE</div>
            </a>
            <a href="https://www.porscheblog.es/" target="_blank" style="color: transparent">
                <div class="apartados">BLOG</div>
            </a>
            <a href="http://webpartners.es/" target="_blank" style="color: transparent">
                <div class="apartados">PARTNER</div>
            </a>
            <a href="https://www.carwow.es/" target="_blank">
                <div class="apartados">HELP</div>
            </a>
        </nav>
    </div>

    <div id="main">
        <div>
            <p class="texto">Make up to $35/hr</p>
            <p class="texto">Driving Your Car</p>
        </div>
    </div>

    <div class="formulario">
        <div>
            <fieldset>
                <caption>
                    <h1>Apply Now</h1>
                </caption>
                <p>Enter your auto, and then download the Lyft app to create your driver prototype so that I could get
                    to enjoy your vehicle</p>
                <br>
                <br>
                <input class="iiinput" type="text" placeholder="First name" />
                <input type="text" placeholder="Last name" />
                <input type="text" placeholder="Email adress" />
                <input type="text" placeholder="City" />
                <input type="text" placeholder="Phone number" />
                <input type="text" placeholder="Promo code (optional)" />
                <h6>I agred to the <span class="darColor">Lift app</span></h6>
                <input class="BecomeADriver" type="submit" value="BECOME A DRIVER">
                <br>
                <br>
                <p>You can go to download this app in <span><a class="url" target="_blank"
                            href="https://play.google.com/store/apps/details?id=coches.net&hl=es&gl=US">https://play.google.com/store/apps/details?id=coches.net&hl=es&gl=US</a></span>
                </p>
            </fieldset>
        </div>
    </div>

    <div class="tabla">
        <h2>See How Much You Can Make</h2>
        <m>How many hours do you want to drive this week?</m>
        <table>
            <tbody>
                <tr>
                    <td>
                        <input class="submit1" type="text" placeholder="Hours">
                    </td>
                    <td>
                        <input class="submit2" type="text" placeholder="City">
                    </td>
                    <td>
                        <input class="calculate" type="submit" value="CALCULATE">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>